Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/Characters
Content/MedCastle
Content/MSPresets
Content/Realistic_Viking_Shield
Content/Variant_Combat
Content/Variant_Platforming
Content/Variant_SideScrolling
Content/Vefects
